/* Home.css */


.home-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    text-align: center;
}

.home-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.uploads-list {
    list-style: none;
    padding: 0;
}

.upload-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.upload-item:hover {
    background-color: #f0f0f0;
}

.upload-icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.upload-name {
    font-weight: bold;
    margin-right: 10px;
    flex: 1;
    text-align: left;
}

.upload-version {
    color: #888;
}


.download-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #0056b3;
}

.delete-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #ff4d4d;
  padding: 4px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.delete-button:hover {
    background-color: #cc0000; /* Darker red when hovered */
}
