.upload-container {
  margin: 20px auto;
  padding: 20px;
  max-width: 500px;
  text-align: center;
}

.upload-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.upload-form {
  display: flex;
  flex-direction: column;
}

.upload-input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.upload-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-button:hover {
  background-color: #45a049;
}
